# Dependencies
node_modules/

# Environment variables
.env

# Database
*.sqlite
*.sqlite-shm
*.sqlite-wal
*.sqlite-journal

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Build
dist/
build/
